{% extends 'base.html' %}

{% block head %} 
    
{% endblock %}
 
{% block body %}
 
    <div class="login-space"></div>
    <div class="login-title">Sign In</div>
    <div class="login-form">
        <form action="/login">
            <label class="email-form">Email address</label><br>
            <input type="text" id="email" name="email" class="email-form1" placeholder="your@example.com" required>
            <div class="password-form"><label>Password</label> <a href="/"><span class="forgot">Forgot your password?</span></a></div>
            <input type="password" id="password" name="password" class="password-form1" placeholder="Enter password" required><br>
            <button type="submit" class="btn-form">LOGIN</button>
        </form>
    </div>
    <div class="new-customer">New Customer?</div>
    <div class="new-description">Sign up for an account to take advantage of order tracking and history as well as pre-filled forms during checkout on subsequent orders.</div>
    <a href="/register"><div class="register">Register</div></a>

{% endblock %}